# Node.js dependencies and build artifacts
node_modules
build

# Logs
*.log
npm-debug.log
yarn-error.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Documentation and other non-code files
*.pdf
*.md

# Sensitive files
.env
*.pem

# IDE/editor config files
.vscode/
.idea/

# macOS metadata
.DS_Store